/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FaqForm.css */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.spinner {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Arial", sans-serif;
  background-color: #82b37f;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar Styles */
.navbar {
  width: 100%;
  background-color: #365f3c;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ddd;
}

/* FAQ Section */
.faq-section {
  width: 90%;
  text-align: center;
  margin-top: 900px; /* Changed from 3rem to 100px */
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.faq-container {
  width: 60%;
  margin: 0 auto;
  background-color: #294b33; /* Changed background color */
  color: #fff; /* Updated color to contrast with the new background */
  border-radius: 5px;
  padding: 1rem;
}

.instruction {
  margin-bottom: 0.5rem;
}

.textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
}

/* Ask Button */
.ask-button {
  background-color: #00a000;
  color: #fff;
  border: none;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  transition: background-color 0.3s ease;
}

.ask-button:hover {
  background-color: #008000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .faq-container {
    width: 90%;
  }

  .ask-button {
    bottom: 1rem;
    right: 1rem;
    padding: 0.6rem 1.5rem;
  }
}
