* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #82b37f;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-container {
  text-align: center;
  color: #fff;
}

.welcome-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.welcome-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.signup-btn {
  background-color: #365f3c;
}

.login-btn {
  background-color: #2e4a2c;
}

.btn:hover {
  background-color: #1d3320;
}
